{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de grupos</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Aula</th>
                <th>Planta</th>
                <th>Tutor</th>
                <th>Nª estudiantes</th>
            </tr>
        </thead>
        <tbody>
            {% for item in grupos %}
                <tr>
                    <td><a href="{{ path('apartado10_alumnado', {'grupo': item[0].id}) }}">{{ item[0].descripcion }}</a></td>
                    <td>{{ item[0].aula }}</td>
                    <td>{{ item[0].planta }}</td>
                    <td>{{ item[0].tutor }}</td>
                    <td>{{ item[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}