{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de alumnado de {{ grupo }}</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Fecha nacimiento</th>
                <th>Grupo</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellidos }}</td>
                    <td>{{ alumno.fechaNacimiento|date('d/m/Y') }}</td>
                    <td>{{ alumno.grupo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('apartado10') }}">Volver al listado de grupos</a>
{% endblock %}